 
	body { 	
	min-width:300px;
	padding:0px;
	margin:0px;
	text-align:center;
	background:rgb(255,255,255); /* 背景色 */ 
	} 
	header {
	background:rgb(95,192,205); /* 背景色 */ 
	position:fixed; 
    top:0px;
	height:60px;
	width:100%;	
	}
	main{
		margin-top:60px;
		margin-bottom:100px;
	}
	footer {
	height:60px;
	position:fixed;
	bottom:0px;
	width:100%;
	background:rgb(248,250,251); /* 背景色 */ 
	}
	input{			
	outline:medium;		
	}
	li{
		list-style:none;
		height:80px;
		border-width: 0  0 1px 0;
		border-style: solid;
		border-color: rgb(219, 224, 226);
	}
	li i{background:url(../images/img.png) ;}
	.header{
		border-radius: 5px;
		margin:0 auto;
		margin-top:17px;
		width:125px;
		background:rgb(85,168,179); /* 背景色 */ 
		
		}
	.head_img{
		float:right;
		width:18px;
		margin:0;
		padding:0;
		position:relative;
		bottom:25px;
		margin-right:17px;
	}

	.button_1 {
	
	border:0px solid rgb(95,192,205);
	border-radius: 5px;
	color:rgb(255, 255, 255);
	
	font-size:1em;
	
	background:rgb(85,168,179);  /* 背景色 */ 
	
	}
	.button_2 {
	
	border:0px solid rgb(95,192,205);
	border-radius: 5px;
	color:rgb(85,168,179);
	
	font-size:1em;
	
	background:rgb(255, 255, 255);  /* 背景色 */ 
	
	}
	.list_header{
		color:rgb(175,186,192);
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: rgb(219, 224, 226);
		height:50px;
	}
	.list_header1{
		float:left;
		width:33.1%;
		padding-top:12px;
		padding-bottom:12px;
		margin-top:2px;
		
	}
	.list_header2{
		float:left;
		width:33%;
		padding-top:12px;
		padding-bottom:12px;
		margin-top:2px;
		border-width: 0 1px 0  1px;
		border-style: solid;
		border-color: rgb(219, 224, 226);
	}
	.list_header3{
		float:left;
		width:33.1%;
		padding-top:12px;
		padding-bottom:12px;
		margin-top:2px;
		
	}
	.tragle{
		float:right ;
		width:10px;
		margin-top:6px;
		margin-bottom:6px;
		position:relative;
		right:8px;
	}
	
	.time{
		float:left;
		display:inline;
		height:24px;
		width:26px;
		background-position:-95px 0;
	}
	
	
	.home_box{
		float:left;
		width:33.1%;
		margin-top:10px;
	}
	.home{
		float:right;
		margin-right:20px;
	}
	.home_img{
		
		width:25px;
	}
	.home_text{
		margin:0;
		color:rgb(85,168,179);
		font-size:0.1em;
	}
	.pen_box{
		
		float:left;
		width:33.1%;
	}
	.pen{
		
		width:50px;
		height:50px;
		border:3px solid rgb(95,192,205);
		border-radius: 50px;
		background:rgb(95,192,205); /* 背景色 */ 
		margin:0 auto;
	}
	.pen_img{
		margin-top:10px;
		width:25px;
	}
	.user_box{
		float:left;
		width:33.1%;
		margin-top:10px;
	}
	.user{
		float:left;
		margin-left:20px;
	}
	.people_img{
		width:25px;
	}
	.user_text{
		margin:0;
		color:rgb(153,153,153);
		font-size:0.1em;
	}
	/*.footer_1 {
	margin:4px;
	border:3px solid rgb(95,192,205);
	border-radius: 10px;
	color:rgb(95,192,205);
	width:44%;
	font-size:1.2em;
	line-height:40px;
	background:rgb(239,240,244); /* 背景色 *
	float:left;
	}

		
	.footer_2 {	
	margin:4px;
	border:3px solid rgb(95,192,205);
	border-radius: 10px;
	color:rgb(239,240,244);
	width:44%;
	font-size:1.2em;
	line-height:40px;
	padding-bottom:;
	background:rgb(95,192,205); /* 背景色 *
	float:right;
	}
	
.img{background:url(../images/img.png)  no-repeat;background-size:125px 22px}
.tragle{height:4px;width:6px;background-position:0 0;}
.back{height:16px;width:9px;background-position:-22px 0;}
.data{height:12px;width:12px;background-position:-48px 0;}
.location{height:16px;width:12px;background-position:-80px 0;}
.pen{height:20px;width:20px;background-position:-115px 0;}
.people{height:20px;width:21px;background-position:-158px 0;}
.adress{height:22px;width:21px;background-position:-197px 0;}
.home{height:20px;width:23px;background-position:-244px 0;}*/