 
	body { 	
	min-width:300px;
	padding:0px;
	margin:0px;
	text-align:center;
	background:rgb(239,240,244); /* 背景色 */ 
	} 
	header {
	padding:20px;
	background:rgb(95,192,205); /* 背景色 */ 
			
	}
	footer {
	height:60px;
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	background:rgb(239,240,244); /* 背景色 */ 
	}
	input{			
	outline:medium;		
	}
	.header{
		border-radius: 5px;
		margin:0 auto;
		width:135px;
		background:rgb(85,168,179); /* 背景色 */ 
		
		}
	.button_1 {
	
	border:0px solid rgb(95,192,205);
	border-radius: 5px;
	color:rgb(255, 255, 255);
	
	font-size:1.1em;
	
	background:rgb(85,168,179);  /* 背景色 */ 
	
	}
	.button_2 {
	
	border:0px solid rgb(95,192,205);
	border-radius: 5px;
	color:rgb(85,168,179);
	
	font-size:1.1em;
	
	background:rgb(255, 255, 255);  /* 背景色 */ 
	
	}

	.footer_1 {
	margin:4px;
	border:3px solid rgb(95,192,205);
	border-radius: 10px;
	color:rgb(95,192,205);
	width:44%;
	font-size:1.2em;
	line-height:40px;
	background:rgb(239,240,244); /* 背景色 */ 
	float:left;
	}

		
	.footer_2 {	
	margin:4px;
	border:3px solid rgb(95,192,205);
	border-radius: 10px;
	color:rgb(239,240,244);
	width:44%;
	font-size:1.2em;
	line-height:40px;
	padding-bottom:;
	background:rgb(95,192,205); /* 背景色 */ 
	float:right;
	}