 a{
	 text-decoration:none;
 }
	body { 	
	min-width:300px;
	padding:0px;
	margin:0px;
	text-align:center;
	background:rgb(255,255,255); /* 背景色 */ 
	} 
	header {
	background:rgb(95,192,205); /* 背景色 */ 
	position:fixed; 
    top:0px;
	height:60px;
	width:100%;	
	z-index:20;
	}
	main{
		margin-top:110px;
		margin-bottom:100px;
	}
	footer {
	height:60px;
	position:fixed;
	bottom:0px;
	width:100%;
	background:rgb(248,250,251); /* 背景色 */ 
	}
	input{			
	outline:medium;	
	-webkit-appearance:none;	/*不使用苹果浏览器默认UI渲染*/
	}
	main li{
		list-style:none;
		height:80px;
		border-width: 0  0 1px 0;
		border-style: solid;
		border-color: rgb(219, 224, 226);
	}
	li i{background:url(../images/img.png) ;}
	
	.erji{
		padding-top:20px;
		padding-bottom:20px;
		float:none;
		border-width: 0  1px 1px 1px;
		border-style: solid;
		border-color: rgb(219, 224, 226);
	}/*二级列表样式*/
	.erji_ul{
		list-style:none;
		display:none;
		background:#fff;
		padding:0px;
	}/*二级列表样式*/
	/*当鼠标点击时候显示二级列表*/
	ul li:hover .erji_ul{display:block;}
	.header{
		border-radius: 5px;
		margin:0 auto;
		margin-top:17px;
		width:125px;
		background:rgb(85,168,179); /* 背景色 */ 
		
		}
	.head_img{
		float:right;
		width:18px;
		margin:0;
		padding:0;
		position:relative;
		z-index:20;
		bottom:25px;
		margin-right:17px;
	}

	.button_1 {
	
	border:0px solid rgb(95,192,205);
	border-radius: 5px;
	color:rgb(255, 255, 255);
	
	font-size:1em;
	
	background:rgb(85,168,179);  /* 背景色 */ 
	
	}
	.button_2 {
	
	border:0px solid rgb(95,192,205);
	border-radius: 5px;
	color:rgb(85,168,179);
	
	font-size:1em;
	
	background:rgb(255, 255, 255);  /* 背景色 */ 
	
	}
	.list_header{
		margin:0px;
		padding:0px;
		position:fixed; 
		top:60px;
		height:60px;
		width:100%;	
		z-index:20;
		background-color:White; 
		list-style:none;
		color:rgb(175,186,192);
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: rgb(219, 224, 226);
		height:50px;
		
	}
	.list_header1{
		float:left;
		width:33.1%;
		padding-top:12px;
		padding-bottom:12px;
		margin-top:2px;
		
	}
	.list_header2{
		float:left;
		width:33%;
		padding-top:12px;
		padding-bottom:12px;
		margin-top:2px;
		border-width: 0 1px 0  1px;
		border-style: solid;
		border-color: rgb(219, 224, 226);
	}
	.list_header3{
		float:left;
		width:33.1%;
		padding-top:12px;
		padding-bottom:12px;
		margin-top:2px;
		
	}
	.tragle{
		float:right ;
		width:10px;
		margin-top:6px;
		margin-bottom:6px;
		position:relative;
		z-index:0;
		right:8px;
	}
	.li_1{
		float:left;
		width:80%;
	}	
	.li_2{
		float:left;
		width:90%;
		padding-left:3%;
		height:16px;
	}
	.li_3{
		float:left;
		width:80%;
	}
	.time{
		float:left;
		display:inline;
		height:24px;
		width:26px;
		background-position:-95px 0;
		transform: scale(0.7);/*缩放*/
		margin-top:5px;
		margin-left:3%;
		z-index:0;
	}
	.time_text{
		
		float:left;
		margin-top:5px;
		margin-left:10px;
		margin-bottom:0;
		color:rgb(175,186,192);
		text-align:left;
		word-break:break-all;/*强制换行*/
	}
	
	.day{
		text-align:left;
		float:left;
		margin-top:0px;
		margin-bottom:0;
		margin-left:35px;
		word-break:break-all;/*强制换行*/
		
	}
	.location{
		float:left;
		display:inline;
		height: 30px;
		width: 25px;
		background-position: -160px 0;
		margin-left:3%;
		transform: scale(0.5);/*缩放*/
		z-index:0;
		}

	.price_text{
		color:red;
		margin:0;
		margin-right:15px;
		padding-left:10px;
		overflow:hidden;
		text-overflow:ellipsis;
		
	}
	.back{
		float:right;
		display:inline;
		height:32px;
		width:26px;
		background-position:-37px 0;
		transform: scale(0.5);/*缩放*/
		margin:0;
		position:relative;
		bottom:25px;
		z-index:0;
	}
	.home_box{
		float:left;
		width:33.1%;
		margin-top:10px;
	}
	.home{
		float:right;
		margin-right:20px;
	}
	.home_img{
		
		width:25px;
	}
	.home_text{
		margin:0;
		color:rgb(85,168,179);
		font-size:0.1em;
	}
	.pen_box{
		
		float:left;
		width:33.1%;
	}
	.pen{
		
		width:50px;
		height:50px;
		border:3px solid rgb(95,192,205);
		border-radius: 50px;
		background:rgb(95,192,205); /* 背景色 */ 
		margin:0 auto;
	}
	.pen_img{
		margin-top:10px;
		width:25px;
	}
	.user_box{
		float:left;
		width:33.1%;
		margin-top:10px;
	}
	.user{
		float:left;
		margin-left:20px;
	}
	.people_img{
		width:25px;
	}
	.user_text{
		margin:0;
		color:rgb(153,153,153);
		font-size:0.1em;
	}
	/*.footer_1 {
	margin:4px;
	border:3px solid rgb(95,192,205);
	border-radius: 10px;
	color:rgb(95,192,205);
	width:44%;
	font-size:1.2em;
	line-height:40px;
	background:rgb(239,240,244); /* 背景色 *
	float:left;
	}

		
	.footer_2 {	
	margin:4px;
	border:3px solid rgb(95,192,205);
	border-radius: 10px;
	color:rgb(239,240,244);
	width:44%;
	font-size:1.2em;
	line-height:40px;
	padding-bottom:;
	background:rgb(95,192,205); /* 背景色 *
	float:right;
	}
	
.img{background:url(../images/img.png)  no-repeat;background-size:125px 22px}
.tragle{height:4px;width:6px;background-position:0 0;}

.data{height:12px;width:12px;background-position:-48px 0;}
.location{height:16px;width:12px;background-position:-80px 0;}
.pen{height:20px;width:20px;background-position:-115px 0;}
.people{height:20px;width:21px;background-position:-158px 0;}
.adress{height:22px;width:21px;background-position:-197px 0;}
.home{height:20px;width:23px;background-position:-244px 0;}*/